<!DOCTYPE html>
<html>
<head>
    <title>Qui Som?</title>
</head>
<body>
    <div class="containe">
        <div class="row">
            <div class="jumbotron" id="textofaq">
                <h>Apren Geografia</h>               
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 textoexplicacion">
            <div class="col-sm-12 texto1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat leo in arcu tincidunt congue. In ac felis condimentum lectus molestie convallis sit amet vel lorem. Nulla facilisi. Mauris a massa suscipit, aliquet tortor vel, malesuada magna. Pellentesque ac ligula a orci ornare pulvinar a ornare mi. Proin ligula dui, ultricies eu facilisis sed, cursus non odio. Donec at dolor nec enim vulputate ultrices eget nec risus. Donec ac turpis vel ligula tristique rhoncus eu vel ante. Proin dolor dui, cursus quis erat at, pellentesque elementum mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Nullam at volutpat justo, quis hendrerit tellus. Quisque fermentum magna nisi, a dictum diam hendrerit et. Vestibulum luctus odio gravida quam molestie, sed commodo metus mattis. Sed gravida porttitor consequat. Maecenas dignissim tincidunt sodales.
            </div>
            <div class="col-sm-12 contacto">
                <table class="table">
                    <tbody>
                        <tr>
                            <td> <span><span class="glyphicon glyphicon-earphone numero"></span> 615432458</span></td>
                            <td> <span><span class="glyphicon glyphicon-user nombre"></span> Victor  Matilla - Jordi Besalú</td>
                        </tr>
                        <tr>
                            <td> <span><span class="glyphicon glyphicon-envelope email"></span> victormatillasanchez20@hotmail.com</span></td>
                            <td> <span><span class="glyphicon glyphicon-map-marker calle"></span> C/Arquitecte Pelai Martínez, Figueras, Girona</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-5 foto">
            <img src="~/Content/Images/apcatGran.png" class="imglogo" />
        </div>
    </div>
    </div>

</body>
</html>