<!DOCTYPE html>
<html>
<head>
    <title>Qui Som?</title>
</head>
<body>
    <div class="containe">
        <div class="row">
            <div class="jumbotron" id="textofaq">
                <h3>Apren Geografia</h3>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-7 textoexplicacion">
            <div class="col-sm-12 texto1">
                <p>La pàgina web t'ofereix l'oportunitat d'augmentar els teus coneixements en la geografia d'una manera senzilla i divertida. Podràs escollir entre 3 activitats diferents:</p>  
                <ul>
                    <li><b>Activitat 1</b>: Cliqueu la comarca.</li>
                    <li><b>Activitat 2</b>: Escriure la capital de la comarca que s'indica.</li>
                    <li><b>Activitat 3</b>: Endevinar capital donant 3 opcions com a resposta.</li>
                </ul>
                <p>A més, tenim l'opció <b>COMPETITIVA</b> de tal manera que podràs guardar els teus resultats posant un "NickName" com pseudònim  un cop acabat una activitat. Anant a la pestanya Resultats, podràs observar si la teva nota apareix entre els 13 millors.</p>
                <p>En el cas que el teu nivell acadèmic de geografia no sigui molt bo, a la pestanya Repàs tindràs l'oportunitat de repassar les diferents comarques i capitals de Catalunya.</p>
            </div>
            <div class="col-sm-12 contacto">
                <table class="table">
                    <tbody class="col-sm-12">
                        <tr>
                            <td> <span><span class="glyphicon glyphicon-earphone numero"></span> 615432458 - 691864982</span></td>
                            <td> <span><span class="glyphicon glyphicon-user nombre"></span> Victor  Matilla - Jordi Besalú</span></td>
                        </tr>
                        <tr>
                            <td> <span><span class="glyphicon glyphicon-envelope email"></span> victormatillasanchez20@hotmail.com</span></td>
                            <td> <span><span class="glyphicon glyphicon-map-marker calle"></span> C/Arquitecte Pelai Martínez, 1 Figueras, Girona</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-5 foto">
            <img src="~/Content/Images/apcatGran.png" class="imglogo" />
        </div>
    </div>
</body>
</html>