<!DOCTYPE html>
<html>
<head>
    <title>Qui Som?</title>
</head>
<body>
    <div class="containe">
        <div class="row">
            <div class="col-sm-4">

            </div>
            <div class="col-sm-4" id="textofaq">
                <span class="glyphicon glyphicon-globe mundo1"></span>
                Apren Geografia
                <span class="glyphicon glyphicon-globe mundo2"></span>
            </div>
            <div class="col-sm-4">

            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 textoexplicacion">
                <div class="col-sm-12 texto1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam consequat leo in arcu tincidunt congue. In ac felis condimentum lectus molestie convallis sit amet vel lorem. Nulla facilisi. Mauris a massa suscipit, aliquet tortor vel, malesuada magna. Pellentesque ac ligula a orci ornare pulvinar a ornare mi. Proin ligula dui, ultricies eu facilisis sed, cursus non odio. Donec at dolor nec enim vulputate ultrices eget nec risus. Donec ac turpis vel ligula tristique rhoncus eu vel ante. Proin dolor dui, cursus quis erat at, pellentesque elementum mi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat volutpat. Nullam at volutpat justo, quis hendrerit tellus. Quisque fermentum magna nisi, a dictum diam hendrerit et. Vestibulum luctus odio gravida quam molestie, sed commodo metus mattis. Sed gravida porttitor consequat. Maecenas dignissim tincidunt sodales.
                </div>
                <div class="col-sm-12 contacto">
                    <div>
                        <span class="glyphicon glyphicon-earphone">972525252</span>
                        <span class="glyphicon glyphicon-user">Jose Maria Aznar</span>
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-envelope">pepebotella@gmail.com</span>
                        <span class="glyphicon glyphicon-map-marker">C/Pene, Nº43 Bilbao</span>
                    </div>
                    
                </div>
            </div>

            <div class="col-sm-5 foto">
                <img src="~/Content/Images/apcatGran.png" class="imglogo" />
            </div>
        </div>
    </div>

</body>
</html>