<!DOCTYPE html>
<html>
<head>
    <title>Hola</title>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../Content/style.css" rel="stylesheet" media="screen">
    <script src="../../Scripts/js/Act1_ClickComarca.js"></script>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div id="modalFinal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="notaFinal" class="modal-title">La nota de l'activitat és:</h5>
                    
                </div>
                <div class="modal-body">
                    <form action="/action_page.php">
                        <div class="form-group">
                            <label for="email">Inserta el teu nick:</label>
                            <input type="email" class="form-control" id="email" placeholder="NickName">
                        </div>
                    </form> 
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="div_act_pregunta">
        <div class="row">
            <div class="col-lg-2 "></div>
            <div class="col-lg-8">
                <div id="h3Comarca"> <h4>Clicka sobre la comarca: </h4> </div>
            </div>
            
            <div class="col-lg-2"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <object id="map" data="../../svg/mapa.svg" type="image/svg+xml"></object>
        </div>

        <div class="col-lg-2">
            <div id="marcador_encerts"><h4>0/0</h4></div>
            <div id="barraProgress" class="progress position-relative">
                
                <div id="barraProgress1" class="progress-bar" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                     style="width: 0%"> 
                    <span id="progressBarra">0%</span>
                </div>
                
            </div>
        </div>
        
        <div class="col-lg-1"></div>
    </div>

</body>
</html>