@{
    ViewBag.Title = "Home Page";
}



<div class="container">


    <div class="jumbotron">

        <div id="accordion">
            <div class="list-group-item">
                <div id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h2>Activitat 1</h2>
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="cosActivitat">
                        <div class="textActivitat " >
                            Explicació de la activitat 1 que és la polla y esas cosas
                        </div>
                        <div class="imageActivitat ">
                            <img src="~/Content/Images/apcatGran.png" class="imageActivitatDins" />
                        </div>
                            
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <h2>Activitat 2</h2>
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="cosActivitat">
                        Explicació de la activitat 2 que és la polla y esas cosas
                    </div>
                </div>
            </div>
            <div class="list-group-item">
                <div id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <h2>Activitat 3</h2>
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="cosActivitat">
                        Explicació de la activitat 3 que és la polla y esas cosas
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>

