<!DOCTYPE html>
<html>
<head>  
    <title>Hola</title>
    <script src="../js/javascript.js"></script>
</head>
<body>
    <h1>Test</h1>
    <div>
    <object id="map" data="../svg/mapa.svg" type="image/svg+xml"></object>
    </div>
    <div>
        
    </div>
    </body>
</html>