<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <h1>RESULTATS</h1>
    <div>
        
    </div>
    <div class="row" data-spy="scroll" data-target=".navbar" data-offset="50">
        <div class="col-sm-12">
            
        </div>
    </div>
</body>
</html>