<!DOCTYPE html>
<html>
<head>
</head>
<body>
    
    <div class="jumbotron con-resultados">
        <div class="col-sm-3 top">
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/primero.png" class="imagenpos" />
                    <div class="actividadinfo">A1</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nom:</div>
                        <div class="clasedetallada styleinfo">Pepito</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.25</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/segundo.png" class="imagenpos" />
                    <div class="actividadinfo">A1</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nom:</div>
                        <div class="clasedetallada styleinfo">Juan</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.24</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/tercero.png" class="imagenpos" />
                    <div class="actividadinfo">A2</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nom:</div>
                        <div class="clasedetallada styleinfo">Maria</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.23</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
            <div class="intuitivo">
                <div><b>A</b> = Activitat</div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-8 resultados">
            <table class="table table-bordered tablainfo">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Activitat</th>
                        <th>Nota</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>John</td>
                        <td>Activtat 2</td>
                        <td>5,2</td>
                        <td>02/02/2001</td>
                    </tr>
                    <tr>
                        <td>Maria</td>
                        <td>Activtat 1</td>
                        <td>5,2</td>
                        <td>02/02/2002</td>
                    </tr>
                    <tr>
                        <td>David</td>
                        <td>Activtat 1</td>
                        <td>5,1</td>
                        <td>02/02/2003</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>