<!DOCTYPE html>
<html>
<head>
    <title>Resultats</title>
    <script src="../../Scripts/jquery-1.10.2.min.js"></script>
    <script src="../../Scripts/js/TakeDivs.js"></script>
</head>
<body>
    @model IEnumerable<Geografia.Models.ActivitatAlumne>
    <div class="jumbotron con-resultados">

        <div class="col-sm-3 top">
            <div class="intuitivo">
                <div>TOP 3 Activitats</div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/primero.png" class="imagenpos" />
                    <div id="activitatUser1" class="actividadinfo activitat1"></div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div id="nomUser1" class="clasedetallada styleinfo nick1"></div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div id="notaUser1" class="clasedetallada styleinfo nota1"></div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div id="dataUser1" class="clasedetallada styleinfo data1"></div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/segundo.png" class="imagenpos" />
                    <div id="activitatUser2" class="actividadinfo activitat2"></div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div id="nomUser2" class="clasedetallada styleinfo nick2"></div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div id="notaUser2" class="clasedetallada styleinfo nota2"></div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div id="dataUser2" class="clasedetallada styleinfo data2"></div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/tercero.png" class="imagenpos" />
                    <div id="activitatUser3" class="actividadinfo activitat3"></div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div class="clasedetallada styleinfo nick3"></div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo nota3"></div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo data3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>

        <div class="col-sm-8 resultados">
            <div class="intuitivo">
                <div>TOP 10 Activitats</div>
            </div>
            <div class="tituloresul">
                <div class="minititulo posicionnick">P</div>
                <div class="minititulo">Nick</div>
                <div class="minititulo">Activitat</div>
                <div class="minititulo">Nota</div>
                <div class="minititulo">Data</div>
            </div>
            <div class="inforesul" id="easyPaginate">
                @*Inserim els 13 primeres notes amb la seva informació*@
                @foreach (var activitat in Model.Take(13))
    {
            <div class="infogrande">
                <div class="miniinfo posicion"></div>
                <div class="miniinfo nickname">@activitat.NickAlumne</div>
                <div class="miniinfo nomactivitat">@activitat.NomActivitat</div>
                <div class="miniinfo notaactivitat">@activitat.Nota</div>
                <div class="miniinfo dataactivitat">@activitat.Data</div>
            </div>
}
            </div>
        </div>
    </div>
</body>
</html>