<!DOCTYPE html>
<html>
<head>
</head>
<body>

    <div class="jumbotron con-resultados">
        @model IEnumerable<Geografia.Models.ActivitatAlumne>
        <div class="col-sm-3 top">
            <div class="intuitivo">
                <div>TOP 3 Activitats</div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/primero.png" class="imagenpos" />
                    <div class="actividadinfo">A1</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div class="clasedetallada styleinfo">Pepito</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.25</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/segundo.png" class="imagenpos" />
                    <div class="actividadinfo">A1</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div class="clasedetallada styleinfo">Juan</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.24</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
            <div class="tops">
                <div class="imagen">
                    <img src="~/Content/Images/tercero.png" class="imagenpos" />
                    <div class="actividadinfo">A2</div>
                </div>
                <div class="infoganador">
                    <div class="nombreuser cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nick:</div>
                        <div class="clasedetallada styleinfo">Maria</div>
                    </div>
                    <div class="nota cuadradosinfo">
                        <div class="clasedetallada styletitulo">Nota:</div>
                        <div class="clasedetallada styleinfo">8.23</div>
                    </div>
                    <div class="fecha cuadradosinfo">
                        <div class="clasedetallada styletitulo">Data:</div>
                        <div class="clasedetallada styleinfo">02/02/2000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm-8 resultados">
            <div class="tituloresul">
                <div class="minititulo">Nick</div>
                <div class="minititulo">Activitat</div>
                <div class="minititulo">Nota</div>
                <div class="minititulo">Data</div>
            </div>
            <div class="inforesul">
                @foreach (var activitat in Model)
                {
                    <div class="infogrande">
                        <div class="miniinfo">@activitat.NickAlumne</div>
                        <div class="miniinfo">Activitat 2</div>
                        <div class="miniinfo"> 2.33</div>
                        <div class="miniinfo">03/03/2018</div>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>