#navbarstyle {
    background-color: #045A7F;
}

.navbar-brand{
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a{
    color: white !important;
}

.rowstyle {
    margin-left: -33px !important;
}
