#navbarstyle {
    background-color: #045A7F;
}

.navbar-brand{
    color: white !important;
}

.navbar-inverse .navbar-nav > li > a{
    color: white !important;
}

.navbar-inverse .navbar-brand {
    margin-left: 33px !important;
}

#div_act_pregunta {
    background-color: dimgray;
    width: 100%;
}
